/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* ----- Homepage ----- */

body{
    overflow-x: hidden !important;
}

@media (max-width: 991px) {
    #header, #header-wrap, #logo img {
        background-color: #fff !important;
    }
}

.main-wrapper {
	width: 100%;
	height: 600px;
    height: 80vh;
    background: url(../images/main-image-2.png) center center no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    .main-wrapper {
        height: 300px;
        background: url(../images/main-image-991.png) center center no-repeat;
        background-size: cover;
    }
    .main-title h1{
        margin-top: 0 !important;
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        background: url(../images/main-image-767.jpg) center center no-repeat;
        background-size: cover;
    }
    
    .main-title{
        text-align: center !important;
    }
    
    .main-title h1{
        font-size: 50px !important;
    }
    
    .main-title span{
        max-width: 400px !important;
        margin: 0 auto 15px auto;
    }
}

.title-left{
    text-align: left;
}

.main-title h1{
    font-size: 64px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
    max-width: 500px;
    margin-top: 150px;
    margin-bottom: 10px;
}

.main-title span{
    max-width: 500px;
    margin-bottom: 15px;
}

.white{
    color: #ffffff !important;
}

.green{
    color: #A5C557 !important;
}
    
.grey-bg{
    background-color: #fafafa;
}

.green-bg{
    background-color: #A5C557 !important;
    border: none !important;
}

.border-btm{
    border-bottom: 2px solid #6E6E6D;
}

.slider-wrapper{
    height: 100%;
    position: relative;
}

.slider-inner-wrapper, .home-main{
    height: 600px !important;
    background-color: #f1f1f1;
}

.slide-1{
    background-image: url('../images/slide-1.jpg');
    background-size: contain;
    background-position: center;
}

@media (max-width: 1500px) {
    .slide-1{
        background-image: url('../images/slide-1-md.jpg');
    }
}

.slide-2{
    background-image: url('../images/slide-2.jpg');
    background-size: contain;
    background-position: center;
}

.slide-3{
    background-image: url('../images/slide-3.jpg');
    background-size: contain;
    background-position: center;
}

.home-cat-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    z-index: 99;
}

.home-cat-text h3{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.homepage-gallery .col_full h2{
    text-align: center;
}

.homepage-gallery .content-wrap{
    padding: 50px 0 0;
}

.no-padding{
    padding: 0;
}

.bs-button{
    margin-top: 15px !important;
}

.content-wrap-why{
    padding: 80px 0 40px;
}

@media (min-width: 992px) {
    .border-btm{
        border-bottom: 2px solid #6E6E6D;
    }
}

@media (max-width: 991px) {
    .slider-inner-wrapper{
        height: 100%;
    }
}

@media (max-width: 767px) {
    .homepage-gallery-thumb{
        width: 100%;
    }
    .before-heading {
        font-size: 16px;
    }
    .home-cat-text h3{
        font-size: 24px;
    }
}

@media (max-width: 479px) {
    
    .logo-container{
        padding: 0 !important;
    }
    
    .home-video{
        width: 100%;
    }
    .content-wrap-best-sellers{
        padding: 0px 0 40px;
    }
    
    .best-seller{
        margin-top: 20px;
    }
    .content-wrap-why{
        padding: 60px 0 20px;
    }
    .promo-full{
        padding: 30px 0 35px !important;
    }
}

@media (max-width: 335px) {
    .top-links ul li{
        border-left: none;
    }
}

/* ----- About Page ----- */

.about-section{
    padding: 150px 0;
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: center center;
}

.about-text p{
    font-size: 18px;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .about-text:first-child{
        margin-bottom: 20px !important;
    }
    .about-title{
        text-align: left !important;
    }
    .about-section{
        padding: 80px 0;
    }

}

/* ----- Warranty Page ----- */

.warranty-text{
    max-width: 800px;
}

.contact-text{
    max-width: 400px;
}

.warranty-text p{
    margin-top: 10px !important;
}

.warranty-input-radio{
    width: auto !important;
    margin-left: 8px !important;
}

#warranty-form input, #warranty-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #ccc;
}

.right-margin{
    margin-right: 10px !important;
}

#warranty-form input:last-child{
    margin-bottom: 0px;
}

.gender-label{
    margin: 10px 0 0;
}

.warranty-terms{
    padding-top: 10px !important;
    margin-bottom: 0 !important;
}

.gender-label label{
    color: #000 !important;
    text-transform: none;
    font-size: 15px;
    letter-spacing: 0;
    margin-right: 10px;
    margin-bottom: 0;
}

.gender-label span{
    margin-left: 12px;
}

.submit-button{
    width: 200px !important;
    line-height: 0 !important;
}


/* ----- Terms Page ----- */

.terms-text{
    max-width: 800px;
    margin: 0 auto !important;
}

.terms-text p{
    margin-bottom: 10px !important;
    line-height: 20px !important;
}

.terms-text h4{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

/* ----- Category Page ----- */

.steam-purple{
    color: #A02C8F !important;
}

.vacuum-orange{
    color: #EC6608 !important;
}

.cat-hero{
    display: inline-block;
    width: 100%;
    position: relative;
    height: 500px;
    text-align: center;
    -webkit-box-shadow: 0px 13px 163px -37px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 13px 163px -37px rgba(0,0,0,0.8);
    box-shadow: 0px 13px 163px -37px rgba(0,0,0,0.8);
    overflow: visible !important;
}

.vacuum-bg{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#441f06 )) !important;
    background: -webkit-linear-gradient(top, #000000, #441f06 ) !important;
    background: -moz-linear-gradient(top, #000000, #441f06 ) !important;
    background: -ms-linear-gradient(top, #000000, #441f06 ) !important;
    background: -o-linear-gradient(top, #000000, #441f06 ) !important;
}

.steam-bg{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#2d0a28 )) !important;
    background: -webkit-linear-gradient(top, #000000, #2d0a28 ) !important;
    background: -moz-linear-gradient(top, #000000, #2d0a28 ) !important;
    background: -ms-linear-gradient(top, #000000, #2d0a28 ) !important;
    background: -o-linear-gradient(top, #000000, #2d0a28 ) !important;
}

.cordless-bg{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#2d4251 )) !important;
    background: -webkit-linear-gradient(top, #000000, #2d4251 ) !important;
    background: -moz-linear-gradient(top, #000000, #2d4251 ) !important;
    background: -ms-linear-gradient(top, #000000, #2d4251 ) !important;
    background: -o-linear-gradient(top, #000000, #2d4251 ) !important;
}

.cat-hero:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.cat-hero .container{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.cat-hero .slider-caption{
    max-width: 100%;
}

.cat-hero .container h2{
    color: #828182;
}

.cordless-image{
    top: 130px;
    right: 300px;
    position: absolute;
    background-image: url('../images/cordless-bg.png');
    background-size: contain;
    height: 600px;
    width: 982px;
    z-index: 99;
}

.steam-image{
    top: 0;
    right: 150px;
    position: absolute;
    background-image: url('../images/steam-bg.png');
    background-size: contain;
    height: 700px;
    width: 642px;
    z-index: 99;
}

.vacuum-image{
    top: 0;
    right: 300px;
    position: absolute;
    background-image: url('../images/vacuum-bg.png');
    background-size: contain;
    height: 700px;
    width: 922px;
    z-index: 99;
}

.cat-top-image{
    margin-top: 200px;
}

.cat-product-image{
    margin-bottom: 20px;
}

.cat-overlay{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 50%;
    z-index: 99;
}

.vacuum-cat-overlay{
    width: 30%;
}

.vacuum-cat-overlay h2{
    line-height: 32px;
    padding-bottom: 8px;
}

.cat-overlay-2{
    position: absolute;
    bottom: 50px;
    right: 60px;
    width: 50%;
    z-index: 99;
    text-align: right;
}

.cat-overlay h2, .cat-overlay-2 h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.cat-video{
    width: 100%;
    margin-bottom: -5px;
}

.cat-buttons{
    margin: 40px auto 40px;
    width: auto;
    display:flex;
    justify-content: center;
}

.product-type h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-type:last-child, .product-type p:last-child{
    margin-bottom: 0;
}

.product-type-1{
    padding-right: 13.333333px;
    padding-left: 0 !important;
}

.product-type-2{
    padding: 0 6.6666665px;
}

.product-type-3{
    padding-left: 13.333333px;
    padding-right: 0 !important;
}

.steam-usps{
    position: absolute;
    height: 100%;
    width: 150px;
    right: 680px;
    top: 20px;
    z-index: 99;
}

.steam-usps img{
    margin-bottom: 5px;
}

@media (max-width: 1600px){
    .cordless-image{
        right: 150px;
    }
    .steam-image{
        right: 0;
    }
    .steam-usps{
        right: 540px;
    }
}

@media (max-width: 1400px){
    .cordless-image{
        top: 190px;
        right: 150px;
        height: 450px;
        width: 736px;
    }
    
    .cat-top-image{
        margin-top: 200px;
    }
    
    .vacuum-image{
        right: 50px;
    }

}

@media (max-width: 1200px){
    
    .cat-overlay{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .cat-overlay-2{
        position: absolute;
        bottom: 20px;
        right: 30px;
        width: 50%;
        z-index: 99;
        text-align: right;
        font-size: 20px
    }
    
    .steam-usps{
        display: none;
    }
}

@media (max-width: 1080px){
    .cordless-image{
        top: -280px;
        right: 0;
        position: inherit;
        margin: 0 auto;
        width: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .cat-hero{
        height: 350px;
    }
    
    .steam-image{
        height:525px;
        width:455px;
        background-repeat: no-repeat;
    }
    
    .vacuum-image{
        right: 0;
        height: 490px;
        width: 645px;
        background-repeat: no-repeat;
    }
    
    .cat-hero .container h2{
        font-size: 30px;
    }
}

@media (max-width: 991px){
    
    .cat-top-image{
        margin-top: 20%;
    }
    
    .cat-overlay h2{
        line-height: 26px;
        margin-bottom: 8px;
        padding-bottom: 0;
    }
    
    .cat-overlay-2 h2{
        font-size: 20px;
    }
    
    .product-type{
        padding: 0;
        margin-bottom: 40px;
    }
    
    #cat-heading{
        padding: 0 !important;
        width: 90% !important;
        left: 0 !important;
    }
}

@media (max-width: 767px){
    .cat-hero h2{
        text-align: center;
    }
    
    .cordless-image{
        top: -200px;
    }
    
    .cat-top-image{
        margin-top: 30%;
    }
    
    .cat-overlay-2{
        display: none;
    }
    
    .steam-image, .vacuum-image, .cordless-image{
        display: none;
    }
    
    .mobile-image{
        margin-top: 40px !important;
        background-color: transparent !important;
    }
    
}

@media (max-width: 600px){
    
    .cat-hero{
        height: 250px;
    }

    .cordless-image{
        top: -210px;
    }
}


/* --- Product Pages --- */

.floorcare-bg{
    background-image: url('../images/floorcare-bg2800.jpg');
    background-position: center;
    background-size: cover;
}

.heating-bg{
    background-image: url('../images/heating-bg.jpg');
    background-position: center;
    background-size: cover;
}

.electricals-bg{
    background-image: url('../images/electricals-bg.jpg');
    background-position: center;
    background-size: cover;
}

@media (min-width: 1250px) {
    .electricals-bg{
        background-image: url('../images/electricals-bg-lg.jpg');
        
    }
}

@media (max-width: 700px) {
    .floorcare-bg{
        background-image: url('../images/floorcare-bg700.jpg');
    }
}

.product-row{
    margin-bottom: 60px;
}

.product-page-text{
    max-width: 600px;
}

.heater-list{
    width: 190px;
    float: left;
}

.product-page-text h2{
    margin-bottom: 10px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 30px;  
}

.product-page-text h3{
    margin-bottom: 10px !important;
}

.product-page-text i{
    cursor: default !important;
}

.top-corner{
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 99;
}

.skill-title{
    font-size: 16px;
    line-height: 18px !important;
    position: absolute;
    bottom: -55px;
}

@media (max-width: 1199px) {
    .top-corner{
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

@media (max-width: 991px) {
    .product-row{
        margin-bottom: 40px;
    }
    
    .product-page-text h2{
        line-height: 28px;
        margin-bottom: 8px !important;
    }
    
    .heater-list{
        width: 170px;
        float: left;
}
    
}

@media (max-width: 767px) {
    .product-page-text{
        margin-top: 0px !important;
    }
    
    #heaters{
        margin-bottom: 0 !important;
    }
    
}

@media (max-width: 479px) {
    .top-corner{
        display: none;
    }
}